name: Comment on PR 

on:
  push:
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write
  
jobs:
  comment-on-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Add comment to PR 
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment 1 --repo ${{ github.repository }} --body "@copilot make test file"
